{{!< default}}
<p>
	<a href="/research.html" onClick="changeDiv(event, '/research.html', 'Research', 'Research Interests', 'research')"><< Back to all research projects</a>
	<br>
	
	{{{ data.project.bodyText.html }}}
	
	<a href="/research.html" onClick="changeDiv(event, '/research.html', 'Research', 'Research Interests', 'research')"><< Back to all research projects</a>

</p>
