{{!< default}}
<div class="col col-sm-9">
	<div class="jumbotron">
    <h2 id="heading" class="title">Publications</h2>
    <div id="publications">
	    <ul>
	    {{#each publications}}
	      <li>{{> publication }}</li>
	    {{/each}}
	    </ul>
    </div>
	</div>
</div>
