{{!< default}}
<div class="identifier" id="research"></div>
<p>
	My research involves building and analysing mathematical models to inform strategies for controlling infectious diseases in humans, animals and plants. This involves using stochastic and deterministic modelling approaches, and parameterising the models using statistical parameter inference techniques. I am also interested in the impact of pathogen evolution on the dynamics of infectious disease outbreaks.
	<br/>
	Some of my current projects are listed below. Click a project to find out more.
	<br/>
</p>
	<ul id="research-list">
	{{#each research }}
	  <li>{{> research }}</li>
	{{/each }}
	</ul>
<p>
	<br/>
	I am interested in collaborating on new projects. If this also interests you, please get in touch!
</p>
