{{!< default}}
<div class="container">
	<div class="jumbotron">
    <h2 id="heading" class="title">Research Interests</h2>
    My research involves building and analysing mathematical models to inform strategies for controlling infectious diseases in humans, animals and plants. This involves using
    stochastic and deterministic modelling approaches, and parameterising the models using statistical parameter inference techniques. I am also interested in pathogen evolution, and I hold a postdoctoral research assistant position supervised by Dr Katrina Lythgoe in Oxford. This focuses on building and analysing mathematical and computational models
    to investigate the impact of pathogen evolution on the dynamics of infectious disease outbreaks.
    <br/>
    Some of my current projects are listed below. Click a project to find out more.
    <br/>
    <ul id="research-list">
    {{#each research }}
      <li><a href="{{ url }}" onclick="changeDiv(event,'{{ url }}','Research','{{ title }}',null)">{{ title }}</a></li>
    {{/each }}
    </ul>
    <br/>
    I am interested in collaborating on new projects. If this also interests you, please get in touch!
	</div>
</div>
