{{!< default}}
<div class="identifier" id="teaching"></div>
<p>
The courses that I am currently tutoring at the University of Oxford are:
	<ul id="courses">

	  {{#if courses.prelims.length }}
		<li id="firstYearCoursesTitle">Prelims (first year)</li>
		<ul id="firstYearCourses">
		{{#each courses.prelims }}
		  <li>{{> course }}</li>
		{{/each }}
		</ul>
	  {{/if }}
	  {{#if courses.partA.length }}
		<li id="secondYearCoursesTitle">Part A (second year)</li>
		<ul id="secondYearCourses">
		{{#each courses.partA }}
		  <li>{{> course }}</li>
		{{/each }}
		</ul>
	  {{/if }}
	  {{#if courses.partB.length }}
		<li id="thirdYearCoursesTitle">Part B (third year)</li>
		<ul id="thirdYearCourses">
		{{#each courses.partB }}
		  <li>{{> course }}</li>
		{{/each }}
		</ul>
	  {{/if }}
	  {{#if courses.partC.length }}
		<li id="fourthYearCoursesTitle">Part C (fourth year)</li>
		<ul id="fourthYearCourses">
		{{#each courses.partC }}
		  <li>{{> course }}</li>
		{{/each }}
		</ul>
	  {{/if }}
	</ul>

	I have also tutored a number of other applied mathematics courses on the Oxford undergraduate syllabus, and co-supervised undergraduate dissertations and summer projects.
	<br/>
	In the past I have supervised part IA Mathematical Biology in Cambridge, as well as lecturing and running
	the associated practical component for part of the course (Matrix Modelling and Applications, Easter term).
	I have also held teaching lectureships in applied maths at two colleges in Oxford: a stipendiary lectureship at Lady Margaret Hall, and a non-stipendiary lectureship at Worcester College (which is also where I studied when I was an undergraduate!)
</p>
